<!-- data_visualization_app/templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Data Visualization App{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

{% block content %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'index.js' %}"></script>
</body>
</html>
