<!-- data_visualization_app/templates/index.html -->
{% extends 'base.html' %}

{% block title %}Data Visualization App{% endblock %}

{% block content %}

<h1>Data Visualization App</h1>

<a href="{% url 'add_environmental_data' %}">Add Environmental Data</a>
<a href="{% url 'add_social_data' %}">Add Social Data</a>

<!-- Set the initial display to none -->
<canvas id="environmentalChart" width="200" height="200" style="display: none;"></canvas>
<canvas id="socialChart" width="400" height="400" style="display: none;"></canvas>

{% endblock %}
